@model Aby.StockManager.Model.ViewModel.Transaction.SearchTransactionViewModel
@{
    ViewData["Title"] = "Transaction List";
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Transaction Filter</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="TransactionCode"></label>
                                    <input asp-for="TransactionCode" type="text" class="form-control-sm form-control enter-keyup">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="SearchStartDate"></label>
                                    <input asp-for="SearchStartDate" type="text" class="form-control-sm form-control enter-keyup datepicker">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="SearchEndDate"></label>
                                    <input asp-for="SearchEndDate" type="text" class="form-control-sm form-control enter-keyup datepicker">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="TransactionTypeId"></label>
                                    <select asp-for="TransactionTypeId" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<Aby.StockManager.Common.Enums.TransactionType>()">
                                        <option value="">Select Transaction Type</option>
                                    </select>
                                </div>
                            </div>
                            @*                            <div class="col-sm-3">
                            <div class="form-group">
                            <label asp-for="StoreId"></label>
                            <select asp-for="StoreId" class="form-control form-control-sm" asp-items="Model.StoreList">
                            <option value="">Select Store</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-sm-3">
                            <div class="form-group">
                            <label asp-for="ToStoreId"></label>
                            <select asp-for="ToStoreId" class="form-control form-control-sm" asp-items="Model.ToStoreList">
                            <option value="">Select To Store</option>
                            </select>
                            </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="btnClear" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> Clear</button>
                                <button id="btnFilter" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Filter</button>
                                @*<a class="btn btn-sm btn-info" href="/Transaction/Print"><i class="fas fa-print"></i> Print</a>*@
                                <a class="btn btn-sm btn-info" href="/Transaction/Create?typeId=1"><i class="fas fa-plus"></i> Stock In</a>
                                <a class="btn btn-sm btn-info" href="/Transaction/Create?typeId=2"><i class="fas fa-plus"></i> Invoice</a>
                                @*<a class="btn btn-sm btn-info" href="/Transaction/Create?typeId=3"><i class="fas fa-plus"></i> Transfer</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Transaction List</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Transaction Code</th>
                                    <th>Invoice #</th>
                                    <th>Transaction Type</th>
                                    <th>Date</th>
                                    <th>Store</th>
                                    <th>To Store</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Transaction Code</th>
                                    <th>Invoice #</th>
                                    <th>Transaction Type</th>
                                    <th>Date</th>
                                    <th>Store</th>
                                    <th>To Store</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="printThis">
<div class="modal fade" id="modal-detail">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Invoice</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="printSection" class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="body">
                            <div class="header clearfix">
                                <div id="logo">
                                    <img src="~/invoice/img/logo.png">
                                </div>
                                <div id="company">
                                    <h2 class="name">SDA Chandauli</h2>
                                    <h4 class="name">CEAT Tyres agency</h4>
                                    <div> 255 , GT Road, Chandauli, Uttar Pradesh 221002</div>
                                    <div><a href="#">+91 70202 53920</a></div>
                                    <div><a href="mailto:jag@sda.com">jag@sda.com</a></div>
                                </div>
                            </div>
                            <main>
                                <div id="details" class="clearfix">
                                    <div id="client">
                                        <div class="to">INVOICE TO:</div>
                                            <div><span id="invoice-description" class="name"></span></div>
                                    </div>
                                    <div id="invoice">
                                            <div>Invoice #: <span id="invoice-number" class="name"></span></div>
                                            <div class="date"><span> Invoice date:</span> 01/06/2014</div>
                                        <div class="date">Due Date: 30/06/2014</div>
                                    </div>
                                </div>
                                <table class="invoice-table" border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th class="no">#</th>
                                            <th class="desc">Item</th>
                                            <th class="unit">Price</th>
                                            <th class="qty">Qty</th>
                                            <th class="total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="no">01</td>
                                            <td class="desc"><h3>110/80-17ZOOM TL </h3></td>
                                            <td class="unit">Rs. 40.00</td>
                                            <td class="qty">30</td>
                                            <td class="total">Rs. 1,200.00</td>
                                        </tr>
                                        <tr>
                                            <td class="no">02</td>
                                            <td class="desc"><h3>100/80-17 Zoom+ F </h3></td>
                                            <td class="unit">Rs. 40.00</td>
                                            <td class="qty">80</td>
                                            <td class="total">Rs. 3,200.00</td>
                                        </tr>
                                        <tr>
                                            <td class="no">03</td>
                                            <td class="desc"><h3>4.00-8 BULAND TT </h3></td>
                                            <td class="unit">Rs. 40.00</td>
                                            <td class="qty">20</td>
                                            <td class="total">Rs. 800.00</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Sub-total</td>
                                            <td>Rs. 5,200.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Tax 14.00%</td>
                                            <td>Rs. 1,300.00</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td colspan="2">Grand Total</td>
                                            <td>Rs. 6,500.00</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <div id="thanks">Thank you!</div>
                                <div id="notices">
                                    <div>NOTICE:</div>
                                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                                    <div class="notice">GSTN: JKHHNMJYH53636373</div>
                                </div>
                            </main>
                            <footer>
                                Invoice was created on a computer and is valid without the signature and seal.
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-light" onclick="printElement()" data-dismiss="modal">Print</button>
                    @*<a id="print-invoice" href="#" on class="btn btn-warning">Print </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
</div> 
@section style{
        <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
        <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
        <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/invoice/content/style.css" rel="stylesheet" />

    }
    @section script{
        <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
        <script src="~/plugins/moment/moment.min.js"></script>
        <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
        <script src="~/pages/transaction/transaction-list.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.datepicker').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    "locale": {
                        "format": "DD/MM/YYYY"
                    }
                });
                $('.datepicker').val('');
            });

        function printElement() {
            var elem = document.getElementById('printThis');
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }
        </script>
    }

