@model Aby.StockManager.Model.ViewModel.Transaction.SearchTransactionViewModel
@{
    ViewData["Title"] = "Transaction List";
}
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-search"></i> Search Transaction</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            @*<div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="TransactionCode"></label>
                                    <input asp-for="TransactionCode" type="text" class="form-control-sm form-control enter-keyup">
                                </div>
                            </div>*@
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="SearchStartDate"></label>
                                    <input asp-for="SearchStartDate" type="text" class="form-control-sm form-control enter-keyup datepicker">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="SearchEndDate"></label>
                                    <input asp-for="SearchEndDate" type="text" class="form-control-sm form-control enter-keyup datepicker">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="TransactionTypeId"></label>
                                    <select asp-for="TransactionTypeId" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<Aby.StockManager.Common.Enums.TransactionType>()">
                                        <option value="">Select Transaction Type</option>
                                    </select>
                                </div>
                            </div>
                            @*                            <div class="col-sm-3">
                            <div class="form-group">
                            <label asp-for="StoreId"></label>
                            <select asp-for="StoreId" class="form-control form-control-sm" asp-items="Model.StoreList">
                            <option value="">Select Store</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-sm-3">
                            <div class="form-group">
                            <label asp-for="ToStoreId"></label>
                            <select asp-for="ToStoreId" class="form-control form-control-sm" asp-items="Model.ToStoreList">
                            <option value="">Select To Store</option>
                            </select>
                            </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="btnClear" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> Clear</button>
                                <button id="btnFilter" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Search</button>
                                @*<a class="btn btn-sm btn-info" href="/Transaction/Print"><i class="fas fa-print"></i> Print</a>*@
                                <a class="btn btn-sm btn-success" href="/Transaction/Create?typeId=1"><i class="fas fa-plus"></i> StockIn</a>
                                <a class="btn btn-sm btn-success" href="/Transaction/Create?typeId=2"><i class="fas fa-plus"></i> Invoice</a>
                                @*<a class="btn btn-sm btn-info" href="/Transaction/Create?typeId=3"><i class="fas fa-plus"></i> Transfer</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> Transaction List</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Invoice #</th>
                                    <th>Bill To</th>
                                    <th>Transaction Type</th>
                                    <th>Date</th>
                                    <th>Store</th>
                                    <th>To Store</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Invoice #</th>
                                    <th>Bill To</th>
                                    <th>Transaction Type</th>
                                    <th>Date</th>
                                    <th>Store</th>
                                    <th>To Store</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="printThis">
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tax Invoice</h4>
                    <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="printSection" class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="body">
                                    <br />
                                <div class="header clearfix">
                                    <br />
                                    <br />
                                    <div id="logo">
                                        <img id="store-image" src="" height="60" width="60">
                                    </div>
                                    <div id="company">
                                        <p class="name"><img src="~/dist/img/ceat.png" height="30"></p>
                                        <h4 class="name" id="store-name"></h4>
                                        <div id="store-address"></div>
                                        <div><a href="#" id="store-contact"></a></div>
                                        <hr />
                                    </div>
                                </div>
                                <main>
                                    <div id="details" class="clearfix">
                                        <div id="client">
                                            <div class="to">Bill to:</div>
                                            <div><span id="invoice-description" class="invoice-description"></span></div>
                                            <div class="to">Address:</div>
                                            <div><span id="invoice-contact" class="invoice-description"></span></div>
                                            <div class="to">GSTIN: <span id="invoice-gstin" class="invoice-description"></span></div>
                                        </div>
                                        <div id="invoice">
                                            <div>Invoice #: <span id="invoice-number" class="notice"></span></div>
                                            <div>Invoice date: <span id="invoice-date" class="notice"> </span></div>
                                            <div>Due Date: <span id="invoice-due-date" class="notice"> </span></div>
                                        </div>
                                    </div>
                                    <table id="invoice-table" class="invoice-table" border="0" cellspacing="0" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <th class="no">#</th>
                                                <th class="desc">Item</th>
                                                <th class="unit">Price</th>
                                                <th class="qty">Qty</th>
                                                <th class="tax">Tax</th>
                                                <th class="total">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Amount total</td>
                                                <td id="amount-total"> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="1"></td>
                                                <td>SGST </td>
                                                <td> CGST</td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="1">Tax total</td>
                                                <td id="sgst-total"> </td>
                                                <td id="cgst-total"> </td>
                                                <td id="tax-total"> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="3">Grand Total</td>
                                                <td id="grand-total"> </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div id="grand-plain-total"> </div>
                                    <div id="thanks">Thank you!</div>
                                    <div id="notices">

                                        <div>GSTIN: <span id="store-gstin" class="notice"> </span></div>
                                        <div>note:</div>
                                        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                                    </div>
                                </main>
                                <footer>
                                    Invoice is valid without the signature and seal.
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div id="print-section" class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" onclick="printElement()" data-dismiss="modal">Print</button>
                        @*<a id="print-invoice" href="#" on class="btn btn-warning">Print </a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section style{
    <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/invoice/content/style.css" rel="stylesheet" />

    }
@section script{
    <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/pages/transaction/transaction-list.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                "locale": {
                    "format": "DD/MM/YYYY"
                }
            });
            $('.datepicker').val('');
        });

        function printElement() {
            var elem = document.getElementById('printThis');
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }
    </script>
    }

