@model Aby.StockManager.Model.ViewModel.Transaction.CreateTransactionViewModel
@{
    ViewData["Title"] = "Create Transaction";
}
@section style{

    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/invoice/content/style.css" media="all" />

}
@section script{
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <partial name="~/Views/Shared/_FormScriptsPartial.cshtml" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                "locale": {
                    "format": "DD/MM/YYYY"
                }
            });

            setSelect2("#ProductId0");

            function setSelect2(element) {
                $(element).select2({
                    minimumInputLength: 1,
                    ajax: {
                        url: '/Transaction/GetProduct',
                        dataType: 'json',
                        type: "GET",
                        delay: 500,
                        data: function (params) {
                            return {
                                search: params.term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.Text,
                                        id: item.Value
                                    }
                                })
                            };
                        }
                    }
                });
            }

            var counter = 1;
            $("#addrow").on("click", function () {
                var newRow = $("<tr>");
                var cols = "";
                cols += '<td><select class="form-control" name="TransactionDetail[' + counter + '].ProductId" id="ProductId' + counter + '"></select></td>';
                cols += '<td><input type="number" name="TransactionDetail[' + counter + '].Amount" class="form-control" step="any" /></td>';
                cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
                newRow.append(cols);
                $("table#table-detail").append(newRow);
                setSelect2("#ProductId" + counter);
                counter++;
            });
            $("table#table-detail").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();
                counter -= 1
            });

        });

    </script>
}
<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <div class="body">
                    <div class="header clearfix">
                        <div id="logo">
                            <img src="~/invoice/img/logo.png">
                        </div>
                        <div id="company">
                            <h2 class="name">SDA Chandauli</h2>
                            <h4 class="name">CEAT Tyres agency</h4>
                            <div> 255 , GT Road, Chandauli, Uttar Pradesh 221002</div>
                            <div><a href="#">+91 70202 53920</a></div>
                            <div><a href="mailto:jag@sda.com">jag@sda.com</a></div>
                        </div>
                    </div>
                    <main>
                        <div id="details" class="clearfix">
                            <div id="client">
                                <div class="to">INVOICE TO:</div>
                                <h2 class="name">Pyarey Lal</h2>
                                <div class="address">Chandauli, UP</div>
                                <div><a href="#">+91 70202 53920</a></div>
                                <div><a href="mailto:jag@sda.com"></a></div>
                            </div>
                            <div id="invoice">
                                <h1>INVOICE#123</h1>
                                <div class="date">Invoice date: 01/06/2014</div>
                                <div class="date">Due Date: 30/06/2014</div>
                            </div>
                        </div>
                        <table class="invoice-table" border="0" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="no">#</th>
                                    <th class="desc">Item</th>
                                    <th class="unit">Price/ Qty</th>
                                    <th class="qty">Qty</th>
                                    <th class="total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="no">01</td>
                                    <td class="desc"><h3>110/80-17ZOOM TL </h3></td>
                                    <td class="unit">Rs. 40.00</td>
                                    <td class="qty">30</td>
                                    <td class="total">Rs. 1,200.00</td>
                                </tr>
                                <tr>
                                    <td class="no">02</td>
                                    <td class="desc"><h3>100/80-17 Zoom+ F </h3></td>
                                    <td class="unit">Rs. 40.00</td>
                                    <td class="qty">80</td>
                                    <td class="total">Rs. 3,200.00</td>
                                </tr>
                                <tr>
                                    <td class="no">03</td>
                                    <td class="desc"><h3>4.00-8 BULAND TT </h3></td>
                                    <td class="unit">Rs. 40.00</td>
                                    <td class="qty">20</td>
                                    <td class="total">Rs. 800.00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Sub-total</td>
                                    <td>Rs. 5,200.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Tax 14.00%</td>
                                    <td>Rs. 1,300.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2">Grand Total</td>
                                    <td>Rs. 6,500.00</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div id="thanks">Thank you!</div>
                        <div id="notices">
                            <div>NOTICE:</div>
                            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                            <div class="notice">GSTN: JKHHNMJYH53636373</div>
                        </div>
                    </main>
                    <footer>
                        Invoice was created on a computer and is valid without the signature and seal.
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
