@{
    ViewData["Title"] = "Dashboard";
}
@section style{
    <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/invoice/content/style.css" rel="stylesheet" />

    }
@section script{
    <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
    <script src="dist/js/highcharts.js"></script>
    <script type="text/javascript">
        function createCharts(container, txn, sum, titleText, totalspent) {
            Highcharts.chart(container, {
                chart: {
                    type: 'column'
                },
                title: {
                    text: titleText + ' ' + totalspent,
                    style: {
                        fontSize: '.9rem',
                        fontFamily: 'Arial Narrow, sans-serif'
                    }
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '12px',
                            fontFamily: 'Arial Narrow, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: txn + ' Amount'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Total ' + txn + ': Rs.<b>{point.y:.2f} </b>'
                },
                series: [{
                    type: 'column',
                    data: sum,
                }]
            });
        }

        function createSaleChart(container,titleText, data, keys, total) {
            Highcharts.chart(container, {
                chart: {
                    marginRight: 0
                },
                title: {
                    text: 'Total '+ titleText +' Rs.' + total,
                    style: {
                        fontSize: '1rem',
                        fontFamily: 'Arial Narrow, sans-serif'
                    }
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    categories: keys
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ' Amount'
                    }
                },
                series: [{
                    data: data,
                    color: 'green'
                }]
            });
        }

        function GetChart(title, url, container){
            var titleMessage = "Last 12 month " +title +":Rs.";
            $.ajax({
                type: "GET",
                url: "/Dashboard/"+url,
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    var keys = Object.keys(result);
                    var weeklydata = new Array();
                    var totalspent = 0.0;
                    for (var i = 0; i < keys.length; i++) {
                        var arrL = new Array();
                        arrL.push(keys[i]);
                        arrL.push(result[keys[i]]);
                        totalspent += result[keys[i]];
                        weeklydata.push(arrL);
                    }
                    createSaleChart(container, title, weeklydata, keys, totalspent.toFixed(2));
                }
            })
        }

        function GetSaleChart(){
            GetChart('Sale', 'GetSaleChart', 'container0')
        }

        function GetPurchaseChart() {
            GetChart('Purchase', 'GetPurchaseChart', 'container2')
        }

        function GetExpenseChart() {
            GetChart('Expense', 'GetExpenseChart', 'container22')
        }

        function GetWeekly(title, url, container) {
            var titleMessage = "Last 4 week "+ title+":Rs.";
            $.ajax({
                type: "GET",
                url: "/Dashboard/GetWeeklySale",
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    var keys = Object.keys(result);
                    var weeklydata = new Array();
                    var totalspent = 0.0;
                    for (var i = 0; i < keys.length; i++) {
                        var arrL = new Array();
                        arrL.push(keys[i]);
                        arrL.push(result[keys[i]]);
                        totalspent += result[keys[i]];
                        weeklydata.push(arrL);
                    }
                    createCharts(container, title, weeklydata, titleMessage, totalspent.toFixed(2));
                }
            })
        }
        
        $(document).ready(function () {
            GetWeekly('Sale', 'GetWeeklySale', 'container');
            GetWeekly('Purchase', 'GetWeeklyPurchase', 'container1');
            GetWeekly('Expense', 'GetWeeklyExpense', 'container11');

            GetSaleChart();
            GetPurchaseChart();
            GetExpenseChart();

            $("#btnWeeklyReport").click(function () {
                GetWeekly('Sale', 'GetWeeklySale', 'container');
            })
            $("#btnWeeklyPurchaseReport").click(function () {
                GetWeekly('Purchase', 'GetWeeklyPurchase', 'container1');
            })
            $("#btnWeeklyExpense").click(function () {
                GetWeeklyExpense();
            })
            $("#btnMonthlyExpense").click(function () {
                var titleMessage = "Last 6 month Expense:Rs.";

                $.ajax({
                    type: "GET",
                    url: "/Dashboard/GetMonthlyExpense",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        var keys = Object.keys(result);
                        var monthlydata = new Array();
                        var totalspent = 0.0;
                        for (var i = 0; i < keys.length; i++) {
                            var arrL = new Array();
                            arrL.push(keys[i]);
                            arrL.push(result[keys[i]]);
                            totalspent += result[keys[i]];
                            monthlydata.push(arrL);
                        }
                        createCharts('container11', 'Expense', monthlydata, titleMessage, totalspent.toFixed(2));
                    }
                })
            })

            $("#btnMonthlyReport").click(function () {
                var titleMessage = "Last 6 month Sale:Rs.";

                $.ajax({
                    type: "GET",
                    url: "/Dashboard/GetMonthlySale",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        var keys = Object.keys(result);
                        var monthlydata = new Array();
                        var totalspent = 0.0;
                        for (var i = 0; i < keys.length; i++) {
                            var arrL = new Array();
                            arrL.push(keys[i]);
                            arrL.push(result[keys[i]]);
                            totalspent += result[keys[i]];
                            monthlydata.push(arrL);
                        }
                        createCharts('container', 'Sale', monthlydata, titleMessage, totalspent.toFixed(2));
                    }
                })
            })

            $("#btnMonthlyPurchaseReport").click(function () {
                    var titleMessage = "Last 6 month Purchase:Rs.";

                    $.ajax({
                        type: "GET",
                        url: "/Dashboard/GetMonthlyPurchase",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (result) {
                            var keys = Object.keys(result);
                            var monthlydata = new Array();
                            var totalspent = 0.0;
                            for (var i = 0; i < keys.length; i++) {
                                var arrL = new Array();
                                arrL.push(keys[i]);
                                arrL.push(result[keys[i]]);
                                totalspent += result[keys[i]];
                                monthlydata.push(arrL);
                            }
                            createCharts('container1', 'Purchase', monthlydata, titleMessage, totalspent.toFixed(2));
                        }
                    })
                })
    })

</script>
}
<style>
    #total-expense {
        background-color: green;
        color: white;
        padding: 2px 5px;
        border-radius: 4px;
        font-weight: bold;
    }
</style>
<section class="content pt-2">
    <div class="container-fluid">
         <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Dashboard</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-light">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Sales</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="container" style="height:auto;margin: 0 auto;min-height:30rem;">
                                        </div>
                                    </div>
                                    <div class="card-body dataTable-search-form">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button id="btnWeeklyReport" class="btn btn-warning"><i class="far fa-chart-bar"></i> Weekly</button>
                                                <button id="btnMonthlyReport" class="btn btn-info"><i class="fas fa-chart-bar"></i> Monthly</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-light">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Purchase</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="container1" style="height:auto;margin: 0 auto;min-height:30rem;">
                                        </div>
                                    </div>
                                    <div class="card-body dataTable-search-form">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button id="btnWeeklyPurchaseReport" class="btn btn-warning"><i class="far fa-chart-bar"></i> Weekly</button>
                                                <button id="btnMonthlyPurchaseReport" class="btn btn-info"><i class="fas fa-chart-bar"></i> Monthly</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card card-light">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Expense</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="container11" style="height:auto;margin: 0 auto;min-height:30rem;">
                                        </div>
                                    </div>
                                    <div class="card-body dataTable-search-form">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <button id="btnWeeklyExpense" class="btn btn-warning"><i class="far fa-chart-bar"></i> Weekly</button>
                                                <button id="btnMonthlyExpense" class="btn btn-info"><i class="fas fa-chart-bar"></i> Monthly</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                    <div class="col-md-4">
                        <div class="card card-light">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Monthly Sale</h3>
                            </div>
                            <div class="card-body">
                                <div id="container0" style="height:auto;margin: 0 auto;min-height:30rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-md-4">
                                <div class="card card-light">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Monthly Purchase</h3>
                                    </div>
                                    <div class="card-body">
                                        <div id="container2" style="height:auto;margin: 0 auto;min-height:30rem;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="col-md-4">
                        <div class="card card-light">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-tachometer-alt"></i> Monthly Expense</h3>
                            </div>
                            <div class="card-body">
                                <div id="container22" style="height:auto;margin: 0 auto;min-height:30rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
    </div>
</section>

