
@media screen {
    .modal#printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    .modal #printSection, .modal #printSection * {
        visibility: visible;
    }
        .modal #printSection .modal-footer {
            visibility: hidden;
        }

        .modal #printSection {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
}
@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.modal.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.modal a {
    color: #0087C3;
    text-decoration: none;
}

.modal body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: SourceSansPro;
}

.modal header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.modal #logo {
    float: left;
    margin-top: 8px;
}

    .modal #logo img {
        height: 70px;
    }

.modal #company {
    float: right;
    text-align: right;
}


.modal #details {
    margin-bottom: 50px;
}

.modal #client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
}

    .modal #client .to {
        color: #777777;
    }

.modal h2.name {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
}

.modal #invoice {
    float: right;
    text-align: right;
}

    .modal #invoice h1 {
        color: #0087C3;
        font-size: 2em;
        line-height: 1em;
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    .modal #invoice .date {
        font-size: 1em;
        color: #777777;
    }

.modal .invoice-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.modal table th,
.modal table td {
    padding: 5px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

.modal table th {
    white-space: nowrap;
    font-weight: normal;
}

.modal table td {
    text-align: right;
}

.modal table td h3 {
    font-size: .9em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
}

.modal table .no {
    font-size: .8em;
    background: #DDDDDD;
}

.modal table .desc {
    text-align: left;
    font-size: .8em;
}

.modal table .unit {
    background: #DDDDDD;
    font-size: .8em;
}

.modal table .qty {
    font-size: .8em;
}

.modal table .total {
    background: #DDDDDD;
    font-size: .8em;
}

.modal table td.unit,
.modal table td.qty,
.modal table td.total {
    font-size: 1em;
    font-size: .8em;
}

.modal table tbody tr:last-child td {
    border: none;
}

.modal table tfoot td {
    padding: 10px 20px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1em;
    white-space: nowrap;
    border-top: 1px solid #AAAAAA;
}

.modal table tfoot tr:first-child td {
    border-top: none;
}

.modal table tfoot tr:last-child td {
    font-family:'Franklin Gothic'
    font-size: 1em;
    font-weight:bold;
    border-top: 1px solid #57B223;
}

.modal table tfoot tr td:first-child {
    border: none;
}

.modal #thanks {
    font-size: 1.1em;
    margin-bottom: 50px;
}

.modal #notices {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
}

    .modal #notices .notice {
        font-size: .8em;
    }

.modal footer {
    color: #777777;
    font-size: .8em;
    width: 100%;
    height: 30px;
    position: absolute;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}
.modal .modal-footer {
    margin-top:40px;
}
.invoice-description{
}
#invoice-number {
    font-style: italic;
}
