@media screen {
    #print-title {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #close-btn, #print-section {
        display: none;
    }

    .modal #printSection, .modal #printSection * {
        visibility: visible;
    }

    .modal #printSection {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
}

.modal.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.modal a {
    color: #0087C3;
    text-decoration: none;
}

.modal body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    color: #555555;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-family: SourceSansPro;
}

.modal header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #AAAAAA;
}

.modal #logo {
    float: left;
    margin-top: 8px;
}

    .modal #logo img {
        max-height: 70px;
    }

.modal #company {
    float: right;
    text-align: right;
}

.modal #details {
    margin-bottom: 50px;
}

.modal #client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
}

    .modal #client .to {
        color: #777777;
    }

.modal h2.name {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
}

.modal #invoice {
    float: right;
    font-size:.9em;
    font-family:'Arial Narrow', Arial, sans-serif;
    text-align: right;
}

    .modal #invoice h1 {
        color: #0087C3;
        font-size: 2em;
        line-height: 1em;
        font-weight: normal;
        margin: 0 0 10px 0;
    }

    .modal #invoice .date {
        font-size: 1em;
        color: #777777;
    }

.modal .invoice-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.modal table th,
.modal table td {
    padding: 5px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
}

.modal table th {
    white-space: nowrap;
    font-weight: normal;
}

.modal table td {
    text-align: right;
}

    .modal table td h3 {
        font-size: .9em;
        font-weight: normal;
        margin: 0 0 0.2em 0;
    }

.modal table .no {
    font-size: .8em;
    background: #DDDDDD;
    font-weight: bold;
    text-align: right;
}

.modal table .desc {
    text-align: left;
    font-size: .8em;
    font-weight: bold;
}

.modal table .unit {
    background: #DDDDDD;
    font-size: .8em;
    text-align: right;
    font-weight: bold;
}

.modal table .qty, .modal table .tax {
    font-size: .8em;
    text-align: right;
    font-weight: bold;
}

.modal table .tax {
    background: #DDDDDD;
}

.modal table .total {
    font-size: .8em;
    text-align: right;
    font-weight: bold;
}

.modal table td.no,
.modal table td.desc,
.modal table td.unit,
.modal table td.qty,
.modal table td.tax,
.modal table td.total {
    font-size: .8em;
    font-weight: normal;
}

.modal table tbody tr:last-child td {
    border: none;
}

.modal table tfoot td {
    background: #FFFFFF;
    border-bottom: none;
    font-size: .8em;
    white-space: nowrap;
    border-top: 1px solid #AAAAAA;
}

.modal table tfoot tr:first-child td {
    border-top: none;
}

.modal table tfoot tr:last-child td {
    font-family: 'Franklin Gothic' ;
    font-size: 1em;
    font-weight: bold;
    border-top: 1px solid #57B223;
}

.modal table tfoot tr td:first-child {
    border: none;
}

.modal #thanks {
    font-size: 1em;
    margin-bottom: 10px;
}

.modal #notices {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
}

    .modal #notices .notice {
        font-size: .8em;
    }

.modal footer {
    color: #777777;
    font-size: .8em;
    width: 100%;
    border-top: 1px solid #AAAAAA;
    padding: 8px 0;
    text-align: center;
}

.modal .modal-footer {
}

.invoice-description {
    font-family: Arial Narrow;
    font-style: italic;
    font-weight: bold;
    font-size: .9em;
    color: rgb(33, 37, 41);
}

#invoice-number, #invoice-date, #invoice-due-date {
    font-style: italic;
    font-weight: bold;
}

#grand-plain-total {
    font-size: .7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}