@model AbyStockManager.Web.Model.ViewModel.Tax.SearchTaxViewModel
@{
    ViewData["Title"] = "Tax List";
}

<section class="content pt-2">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-search"></i> Search Tax</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" type="text" class="form-control-sm form-control enter-keyup">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="btnClear" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> Clear</button>
                                <button id="btnFilter" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Search</button>
                                <a class="btn btn-success btn-sm" href="/Tax/Create"><i class="fas fa-plus"></i> Tax</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> Tax List</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Tax Name</th>
                                    <th>Rate</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Tax Name</th>
                                    <th>Rate</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section style{
    <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
}
@section script{
    <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
    <script src="~/pages/tax/tax-list.js"></script>
}