@model Aby.StockManager.Model.ViewModel.Service.SearchServiceReportViewModel
@{
    ViewData["Title"] = "Service List";
}
@section style{
    <partial name="~/Views/Shared/_DataTableStylePartial.cshtml" />
    <link href="~/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet">
    <link href="~/invoice/content/style.css" rel="stylesheet" />

    }
<style>
    #total-expense {
        background-color: green;
        color: white;
        padding: 2px 5px;
        border-radius: 4px;
        font-weight: bold;
    }
</style>
<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-search"></i> Search Service</h3>
                    </div>
                    <div class="card-body dataTable-search-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Service description</label>
                                    <input asp-for="ItemName" type="text" class="form-control-sm form-control enter-keyup">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="ServiceCategoryId" class="control-label"></label>
                                    <select id="Category" asp-for="ServiceCategoryId" class="form-control" asp-items="Model.CategoryList">
                                        <option value="">-- Select Service Type --</option>
                                    </select>
                                </div>
                            </div>
                            

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="SearchStartDate"></label>
                                    <input asp-for="SearchStartDate" type="text" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label asp-for="SearchEndDate"></label>
                                    <input asp-for="SearchEndDate" type="text" class="form-control datepicker">
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="btnClear" type="button" class="btn btn-secondary btn-sm"><i class="fas fa-sync-alt"></i> Clear</button>
                                <button id="btnFilter" type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i> Search</button>
                                <a class="btn btn-success btn-sm" href="/Service/Create"><i class="fas fa-plus"></i> Service</a>
                                <button class="btn btn-info btn-sm" onclick="ReportExpense()"><i class="fas fa-chart-line"></i> Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-list"></i> Service List</h3>
                    </div>
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered table-hover dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Invoice #</th>
                                    <th>Bill To</th>
                                    <th>Phone Number</th>
                                    <th>Description</th>
                                    <th>GSTin</th>
                                    <th>Service Type</th>
                                    <th>Amount</th>
                                    <th>Service Date</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Invoice #</th>
                                    <th>Bill To</th>
                                    <th>Phone Number</th>
                                    <th>Description</th>
                                    <th>GSTin</th>
                                    <th>Service Type</th>
                                    <th>Amount</th>
                                    <th>Service Date</th>
                                    <th style="width:15%">Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card card-outline">
                    <div class="card-header">
                        <h3 class="card-title"><i class="nav-icon fas fa-rupee-sign"></i> Total Service :  <span id="total-expense"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="printThis">
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="printSection" class="modal-body">
                    <div class="modal-header">
                        <h4 class="header-title">Tax Invoice</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="body">
                                <div class="header clearfix">
                                    <div id="logo">
                                        <img id="store-image" src="" height="60" width="60">
                                    </div>
                                    <div id="company">
                                        <p class="name"><img src="~/dist/img/ceat.png" height="30"><h4 class="name" id="store-name"></h4></p>
                                        <h4 class="name" id="store-name"></h4>
                                        <div id="store-address"></div>
                                        <div><a href="#" id="store-contact"></a></div>
                                        <hr />
                                    </div>
                                </div>
                                <main>
                                    <div id="details" class="clearfix">
                                        <div id="client">
                                            <div id="bill-to" class="to"></div>
                                            <div><span id="invoice-description" class="invoice-description"></span></div>
                                            <div class="to">Address:</div>
                                            <div><span id="invoice-contact" class="invoice-description"></span></div>
                                            <div class="to">GSTIN: <span id="invoice-gstin" class="invoice-description"></span></div>
                                            <div class="to">Remarks: <span id="invoice-remarks" class="invoice-description"></span></div>
                                        </div>
                                        <div id="invoice">
                                            <div><span id="print-bill-type" class="notice"></span> #: <span id="invoice-number" class="notice"></span></div>
                                            <div><span id="print-bill-date" class="notice"></span> date: <span id="invoice-date" class="notice"> </span></div>
                                            <div><span id="print-bill-due-date" class="notice"></span> due date: <span id="invoice-due-date" class="notice"> </span></div>
                                        </div>
                                    </div>
                                    <table id="invoice-table" class="invoice-table" border="0" cellspacing="0" cellpadding="0">
                                        <thead>
                                            <tr>
                                                <th class="no">#</th>
                                                <th class="desc">Service</th>
                                                <th class="unit">Price<span class="required-indicator">*</span></th>
                                                <th class="qty">Qty</th>
                                                <th class="tax">Tax</th>
                                                <th class="total">Amount<span class="required-indicator">**</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                               - <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Amount total<span class="required-indicator">**</span></td>
                                                <td id="amount-total"> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="1"></td>
                                                <td>SGST </td>
                                                <td> CGST</td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="1">Tax total</td>
                                                <td id="sgst-total"> </td>
                                                <td id="cgst-total"> </td>
                                                <td id="tax-total"> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="3">Grand Total</td>
                                                <td id="grand-total"> </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div id="grand-plain-total"> </div>
                                    <div id="thanks">!</div>
                                    <div id="notices">

                                        <div>GSTIN: <span id="store-gstin" class="notice"> </span></div>
                                        <div></div>
                                        <div class="notice"><span class="required-indicator">*</span>  including GST</div>
                                        <div class="notice"><span class="required-indicator">**</span>  excluding GST</div>
                                        <div id="bill-notice" class="notice"></div>
                                    </div>
                                </main>
                                <footer>
                                    <span id="print-bill-disclaimer" class="notice"></span> is valid without the signature and seal.
                                </footer>
                            </div>
                        </div>
                    </div>
                    <div id="print-section" class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" onclick="printElement()" data-dismiss="modal">Print</button>
                        @*<a id="print-invoice" href="#" on class="btn btn-warning">Print </a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="expenseReportModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body" id="expenseReportModalDiv">
            </div>
        </div>
    </div>
</div>
@section script{
    <partial name="~/Views/Shared/_DataTableScriptPartial.cshtml" />
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/pages/service/service-list.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                "locale": {
                    "format": "DD/MM/YYYY"
                }
            });
            $('.datepicker').val('');
        });

        var ReportExpense = function () {
            var url = "/Service/ExpenseSummary";

            $("#expenseReportModalDiv").load(url, function () {
                $("#expenseReportModal").modal("show");
            })
        }
        function printElement() {
            var elem = document.getElementById('printSection');
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }
    </script>
}